---
layout: 'default2'
title: 'Logic (PH133)'
subtitle: 'Lecture 1'
lecture_date: '2017/4/25'
units: []
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins


- var images = get_images('bees')




+title_slide({document:document, images:images})

//- learning objectives
+insert_unit({unit:'013', title_slide:false, images:images})

  
//- unit: terminology
+insert_unit({unit:'02', title_slide:true, images:images})

//- unit: sample argument
+insert_unit({unit:'03', title_slide:true, images:images})

  
// *notes admin section
section.slide
  img.bkg(src='/img/bkg/bees/DSC_0157_crop.jpg')
  .spacer &nbsp;
  .title-block: .title-container
      h2.title1 Admin
  .words: .container_12: .grid_12
    ul
      li.slide Seminar groups (check email or see module web page)
      li.slide Exercises
      li.slide Textbook
      li.slide Slides and handouts are on the web 
// *notes bad email the night before resit exam
//- section.slide
//-   img.bkg(src='/img/lecture_01/slide-031.jpeg')
//- // *notes staircase, need to progress stepwise but we will go into the light
//- section.slide
//-   img.bkg(src='/img/lecture_01/P4258786 merge2.jpg')


//- unit: counterexamples
+insert_unit({unit:'04', title_slide:true, images:images})

//- unit: identity
+insert_unit({unit:'06', title_slide:true, images:images})

//- unit: sentence lettes
+insert_unit({unit:'012', title_slide:true, images:images})

//- unit: truth tables
+insert_unit({unit:'071', title_slide:true, images:images})

  
//- *** spare in case need more; but plan to do these in next lecture

//- did this in 2012-3!
//- complex truth tables
+insert_unit({unit:'60', title_slide:true, images:images})

//- 
  //- complex truth tables plus how to order reference columns
  section.slide
    p.middle.center another example
  +insert_unit({unit:'09', title_slide:false, images:images})




