---
layout: 'default2'
title: 'Logic (PH133)'
subtitle: 'Lecture 7'
units: []
lecture_date: '2017/05/16'
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')


+title_slide({document:document, images:images})


//- 2014-5 didn't get to ∀Intro !  Even had to rush Scope and Quantifiers.


//- Watch Out, Here Come Multiple Quantifiers
//- *notes: mention this as a topic for the final lecture; this one is about rules of proof
+insert_unit({unit:'744', title_slide:false, images:images})



//- Something Is Above Something 
+insert_unit({unit:'740', title_slide:true, images:images})

//- Multiple Quantifiers: Something Makes Someone Want to Die Inside 
+insert_unit({unit:'741', title_slide:true, images:images})

//- There Is Exactly One
+insert_unit({unit:'625', title_slide:true, images:images})



//- existential intro
+insert_unit({unit:'801', title_slide:true, images:images})

//- ∃Elim 
+insert_unit({unit:'550', title_slide:true, images:images})




//- Translation with Quantifiers (507)
//- ** check not done in lecture 5
+insert_unit({unit:'507', title_slide:true, images:images})


//- Scope and Quantifiers (∀Intro  relies on this)
+insert_unit({unit:'710', title_slide:true, images:images})

//- ∀Intro 
+insert_unit({unit:'570', title_slide:true, images:images})

//- Summary of Quantifier Rules
+insert_unit({unit:'575', title_slide:true, images:images})



//- Two Things Are Broken 
+insert_unit({unit:'470', title_slide:true, images:images})



