---cson
layout: 'deck_slides_img'
title: "Translations with Multiple Quantifiers"
description: "A quiz about translating English sentence with multiple quantifiers into awFOL."
tags: ['translation','quantifiers']
depends: ['560']
---
