---cson
layout: 'deck_units' 
title: "What does ∃ mean?"
description: "Explains the meaning of ∃ with a simple example."
tags: ['semantics'] 
depends: ['unit_471']
source: ['ph126 fastlecture 04']
duration: 7
exercises: []
exercises_fast: []
sequence: 530
book: ['9.4']
exNormal: [
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"a","c":"white","f":[":'","-","|"]},{"x":5,"y":0,"w":2,"h":3,"n":"","c":"yellow","f":[":","-",")"]}]/qq/exists x Tall(x)|all x Tall(x)"""
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":3,"n":"a","c":"white","f":[":'","-","|"]},{"x":5,"y":0,"w":2,"h":3,"n":"","c":"yellow","f":[":","-",")"]}]/qq/exists x Tall(x)|all x Tall(x)"""
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"a","c":"white","f":[":'","-","|"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":","-",")"]}]/qq/exists x Tall(x)|all x Tall(x)"""
  '/ex/create/qq/exists x Tall(x)|all x Tall(x)'
  
]
exFast: [
  '/ex/create/qq/exists x Tall(x)|all x Tall(x)'
  '/ex/create/qq/exists x Tall(x)|all x Tall(x)|all x (Tall(x) arrow x=a)'
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_491/slide-001.jpeg'})
  .notes 
  //- handout
  .handout We give the meaning of ∃ by specifying what it takes for a sentence containing ∃ to be true: 
  .handout \begin{enumerate}
  .handout \item Give every object a name. 
  .handout \item For each name in turn, create a new sentence like this: delete the quantifier and replace all instances of the variable it binds with that name.
  .handout \item If ANY of the new sentences are true, so is the original sentence.
  .handout \end{enumerate}

+slide({bkg:'unit_491/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-077.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-078.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-079.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-080.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-081.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-082.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-083.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-084.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-085.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-086.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-087.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-088.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-089.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-090.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-091.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-092.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-093.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-094.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-095.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-096.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-097.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-098.jpeg'})
  .notes 

+slide({bkg:'unit_491/slide-099.jpeg'})
  .notes 

