---cson
layout: 'deck_units' 
title: "Quantifier Equivalences: ¬∀x Created(x) ⫤⊨ ∃x ¬Created(x)"
description: "Introduces the logical equivalence that allows us to turn ∀ into ∃, and conversely. Explains how to prove informally that the equivalence holds using the truth-conditions for quantified statements."
tags: ['translation','quantifiers','semantics']
depends: ['']
source: ['ph126 lecture 14']
duration: 5
book: ['10.1','10.3','10.4']
exercises: []
exercises_fast: []
sequence: 920

exNormal: [
  '/ex/create/orInconsistent/qq/∀x ¬Happy(x)|∃x Happy(x)'
  
  '/ex/create/orValid/from/¬∀x Happy(x)/to/∃x Happy(x)'
  '/ex/create/orValid/from/¬∀x Happy(x)/to/∃x ¬Happy(x)'
  '/ex/create/orValid/from/¬∃x Happy(x)/to/∀x ¬Happy(x)'
  '/ex/create/orValid/from/¬∃x Happy(x)/to/¬∀x ¬Happy(x)'
  '/ex/create/orValid/from/¬∃x Happy(x)/to/¬∀x Happy(x)'
  
]
exFast: [
  '/ex/create/orInconsistent/qq/∀x ¬Happy(x)|∃x Happy(x)'
  
  '/ex/create/orValid/from/¬∀x Happy(x)/to/∃x Happy(x)'
  '/ex/create/orValid/from/¬∀x Happy(x)/to/∃x ¬Happy(x)'
  '/ex/create/orValid/from/¬∃x Happy(x)/to/∀x ¬Happy(x)'
  '/ex/create/orValid/from/¬∃x Happy(x)/to/¬∀x ¬Happy(x)'
  '/ex/create/orValid/from/¬∃x Happy(x)/to/¬∀x Happy(x)'
  
]
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_764/slide-162.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-163.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-164.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-165.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-166.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-167.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-168.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-169.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-170.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-171.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-172.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-173.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-174.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-175.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-176.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-177.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-178.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-179.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-180.jpeg'})
  .notes 

+slide({bkg:'unit_764/slide-181.jpeg'})
  .notes 

