---cson
layout: 'deck_units' 
title: "→Intro, →Elim"
description: "Introduction to the rules of proof for →, →Intro and →Elim.  This is the first time subproofs are used.  Also illustrates a proof without any premises.  The proof is from premises P→Q and Q→R to conclusion P→R."
tags: ['proof', 'proof-example']
depends: ['']
source: ['ph126 lecture 05']
book: ['8.1','8.2']
exercises: []
exercises_fast: ['8.20--8.25']
duration: 10
sequence: 330
exNormal: [
  '/ex/create/qq/Happy(a)|Happy(a) arrow Happy(b)'
  '/ex/proof/from/A and C|A arrow B/to/B'
  '/ex/proof/from/A arrow B|B arrow C/to/A arrow C'
  # Not allowed to ask about truth tables yet
  # '/ex/tt/qq/A arrow A'
  '/ex/proof/from/-/to/A arrow A'
  
  '/ex/proof/from/A|A arrow false/to/B'
  '/ex/proof/from/A arrow not A|A/to/false'
]

exFast: [
  '/ex/create/orValid/from/Sad(a) arrow Sad(b)|Sad(b) arrow Sad(c)/to/Sad(a) arrow Sad(c)'
  '/ex/proof/orInvalid/from/Sad(a) arrow Sad(b)|Sad(b) arrow Sad(c)/to/Sad(a) arrow Sad(c)'
  '/ex/proof/from/A|A arrow false/to/B'

  '/ex/proof/from/-/to/A arrow A'
  '/ex/proof/from/-/to/A arrow (B arrow A)'
  '/ex/proof/from/-/to/not A arrow (A arrow B)'
  
  '/ex/create/orValid/from/Sad(a) arrow Sad(c)/to/(Sad(a) and Sad(b)) arrow Sad(c)'
  '/ex/proof/orInvalid/from/Sad(a) arrow Sad(c)/to/(Sad(a) and Sad(b)) arrow Sad(c)'
  '/ex/create/orValid/from/Tall(a) arrow Tall(c)/to/(Tall(a) or Tall(b)) arrow Tall(c)'
  '/ex/proof/orInvalid/from/Tall(a) arrow Tall(c)/to/(Tall(a) or Tall(b)) arrow Tall(c)'
  
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_390/slide-038.jpeg'})
  .notes 
  //- handout
  .img.handout(data-src='img/rule_arrow_intro.png')
  .img.handout(data-src='img/rule_arrow_elim.png')

+slide({bkg:'unit_390/slide-039.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-040.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-041.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-042.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-043.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-044.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-045.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-046.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-047.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-048.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-049.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-050.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-051.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-052.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-053.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-054.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-055.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-056.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-057.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-058.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-059.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-060.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-061.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-062.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-063.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-064.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-065.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-066.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-067.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-068.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-069.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-070.jpeg'})
  .notes 

+slide({bkg:'unit_390/slide-071.jpeg'})
  .notes 

