---cson
layout: 'deck_units' 
title: "Get Some Quantifiers: Don't Economise"
description: "We're going to be using quantifiers a lot.  We understand them thanks to Frege and Taski.  It's important to get a pair you like."
tags: ['quantification']
depends: ['']
source: ['ph126 lecture 06']
book: ['9.1']
exercises: []
exercises_fast: []
duration: 2
sequence: 370
handout: false 
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_473/slide-214.jpeg'})
  .notes 

+slide({bkg:'unit_473/slide-215.jpeg'})
  .notes 

+slide({bkg:'unit_473/slide-216.jpeg'})
  .notes 

+slide({bkg:'unit_473/slide-217.jpeg'})
  .notes 

+slide({bkg:'unit_473/slide-218.jpeg'})
  .notes 

