---cson
layout: 'deck_units' 
title: "Learning Objectives"
description: "Graphical depiction of learning objectives for this course."
tags: []
depends: []
source: ['ppe lecture 01']
sequence: 60
handout: false
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_013/slide-001.jpeg'})
  .notes 

+slide({bkg:'unit_013/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_013/slide-003.jpeg'})
  .notes 

