---cson
layout: 'deck_units' 
title: "All Squares Are Blue"
description: "Explains how to translate 'All squares and blue' and 'Some squares are blue' into awFOL using quantifiers."
tags: ['quantification', 'revision']
depends: ['unit_501']
source: ['ph126 lecture 08', 'ph133 lecture 05']
duration: 5
book: ['9.2','9.3','9.5']
exercises: ['9.4--9.5','9.8--9.10']
exercises_fast: []
exNormal: [
  '/ex/trans/domain/things/names/-/predicates/Red1|Happy1/sentence/exists x (Happy(x) and Red(x))'
  '/ex/create/qq/exists x (Happy(x) and Yellow(x))|exists x (Happy(x) and Red(x))'
  '/ex/create/qq/all x (Yellow(x) arrow Happy(x))'
  
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":","-",")"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"red","f":[":",">",")"]}]/qq/exists x (Happy(x) and Red(x))|all x (Happy(x) arrow Red(x))"""
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":","-",")"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"blue","f":[":",">",")"]}]/qq/exists x (Happy(x) and Red(x))|all x (Happy(x) arrow Red(x))"""
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":","-","|"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"blue","f":[":",">","("]}]/qq/exists x (Happy(x) and Red(x))|all x (Happy(x) arrow Red(x))"""
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"red","f":[":","-",")"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"red","f":[":",">",")"]}]/qq/exists x (Happy(x) and Red(x))|all x (Happy(x) arrow Red(x))"""
  
  '/ex/trans/domain/people/names/-/predicates/Yellow1|Happy1/sentence/all x (Yellow(x) arrow Happy(x))'
  '/ex/create/qq/all x (Yellow(x) arrow Happy(x))|all x (Red(x) arrow Sad(x))'
  '/ex/create/qq/all x (Yellow(x) arrow Happy(x))|all x (Red(x) arrow Sad(x))|exists x (not Happy(x) and not Sad(x))'
  '/ex/trans/domain/people/names/-/predicates/Sad1|Happy1/sentence/Someone is neither happy nor sad'
]
exFast: [
  '/ex/trans/domain/people/names/-/predicates/Red1|Happy1/sentence/exists x (Happy(x) and Red(x))'
  '/ex/create/qq/exists x (Happy(x) and Yellow(x))|exists x (Happy(x) and Red(x))'
  
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":","-",")"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"blue","f":[":",">",")"]}]/qq/exists x (Happy(x) and Red(x))|all x (Happy(x) arrow Red(x))"""
  """/ex/TorF/world/[{"x":3,"y":0,"w":2,"h":2,"n":"","c":"yellow","f":[":","-","|"]},{"x":5,"y":0,"w":2,"h":2,"n":"","c":"blue","f":[":",">","("]}]/qq/exists x (Happy(x) and Red(x))|all x (Happy(x) arrow Red(x))"""
  
  '/ex/trans/domain/people/names/-/predicates/Yellow1|Happy1/sentence/all x (Yellow(x) arrow Happy(x))'
  '/ex/create/qq/all x (Yellow(x) arrow Happy(x))|all x (Red(x) arrow Sad(x))'
  '/ex/create/qq/all x (Yellow(x) arrow Happy(x))|all x (Red(x) arrow Sad(x))|exists x (not Happy(x) and not Sad(x))'
  '/ex/trans/domain/people/names/-/predicates/Sad1|Happy1/sentence/Someone is neither happy nor sad'
]
sequence: 450
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_503/slide-087.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-088.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-089.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-090.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-091.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-092.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-093.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-094.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-095.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-096.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-097.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-098.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-099.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-100.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-101.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-102.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-103.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-121.jpeg'})
  .notes 

+slide({bkg:'unit_503/slide-122.jpeg'})
  .notes 

