---cson
layout: 'deck_units' 
title: "Scope and Quantifiers"
description: "Explores differences between ∃x(Square(x) ∧ Blue(x)), some squares are blue, and ∃x Square(x) ∧ ∃x Blue(x), something is square and something is blue."
tags: ['semantics'] 
depends: ['unit_503','unit_491', 'unit_492']
source: ['ph126 lecture 08']
duration: 10
book: ['9.5','9.6']
exercises: []
exercises_fast: []
sequence: 550
exNormal: [  
  '/ex/scope/qq/∃x(Robots(x) ∧ Intelligent(x))|∃x Robots(x) ∧ ∃x Intelligent(x)|all x Tragic(x) arrow all x Comic(x)|all x (Tragic(x) arrow Comic(x))|all x ((Tragic(x) or Comic(x)) arrow Dramatic(x))'
  """/ex/TorF/world/[{"x":4,"y":0,"w":2,"h":2,"n":"","c":"green","f":["}:","-",")"]},{"x":2,"y":0,"w":2,"h":3,"n":"","c":"blue","f":["}:","-","|"]}]/qq/exists x (Happy(x) and Tall(x))|exists x Tall(x) and exists x Happy(x)"""
  """/ex/TorF/world/[{"x":4,"y":0,"w":2,"h":2,"n":"","c":"green","f":["}:","-",")"]},{"x":2,"y":0,"w":2,"h":3,"n":"","c":"blue","f":[":","-",")"]},{"x":0,"y":0,"w":2,"h":3,"n":"","c":"orange","f":["}:",">","("]}]/qq/all x (Tall(x) arrow Happy(x))|all x Tall(x) arrow all x Happy(x)"""
  """/ex/TorF/world/[{"x":4,"y":0,"w":2,"h":2,"n":"","c":"green","f":["}:","-","("]},{"x":2,"y":0,"w":2,"h":3,"n":"","c":"blue","f":[":","-",")"]},{"x":0,"y":0,"w":2,"h":3,"n":"","c":"orange","f":["}:","^",")"]}]/qq/all x (Tall(x) arrow Happy(x))|all x Tall(x) arrow all x Happy(x)"""
  
  '/ex/create/qq/exists x White(x) and exists x Sad(x)|not exists x (White(x) and Sad(x))'
  '/ex/create/qq/all x White(x) arrow all x Sad(x)|not all x (White(x) arrow Sad(x))'

  '/ex/create/orValid/from/exists x Tall(x) and exists x Happy(x)/to/exists x Tall(x) and exists y Happy(y)'
]
exFast: [
  '/ex/scope/qq/∃x(Robots(x) ∧ Intelligent(x))|∃x Robots(x) ∧ ∃x Intelligent(x)|all x Tragic(x) arrow all x Comic(x)|all x (Tragic(x) arrow Comic(x))|all x ((Tragic(x) or Comic(x)) arrow Dramatic(x))'
  """/ex/TorF/world/[{"x":4,"y":0,"w":2,"h":2,"n":"","c":"green","f":["}:","-",")"]},{"x":2,"y":0,"w":2,"h":3,"n":"","c":"blue","f":["}:","-","|"]}]/qq/exists x (Happy(x) and Tall(x))|exists x Tall(x) and exists x Happy(x)"""
  """/ex/TorF/world/[{"x":4,"y":0,"w":2,"h":2,"n":"","c":"green","f":["}:","-",")"]},{"x":2,"y":0,"w":2,"h":3,"n":"","c":"blue","f":[":","-",")"]},{"x":0,"y":0,"w":2,"h":3,"n":"","c":"orange","f":["}:",">","("]}]/qq/all x (Tall(x) arrow Happy(x))|all x Tall(x) arrow all x Happy(x)"""
  """/ex/TorF/world/[{"x":4,"y":0,"w":2,"h":2,"n":"","c":"green","f":["}:","-","("]},{"x":2,"y":0,"w":2,"h":3,"n":"","c":"blue","f":[":","-",")"]},{"x":0,"y":0,"w":2,"h":3,"n":"","c":"orange","f":["}:","^",")"]}]/qq/all x (Tall(x) arrow Happy(x))|all x Tall(x) arrow all x Happy(x)"""
  
  '/ex/create/orValid/from/exists x White(x) and exists x Sad(x)/to/exists x (White(x) and Sad(x))'
  '/ex/create/orValid/from/exists x (White(x) and Sad(x))/to/exists x White(x) and exists x Sad(x)'
  '/ex/create/orValid/from/all x White(x) arrow all x Sad(x)/to/all x (White(x) arrow Sad(x))'
  '/ex/create/orValid/from/all x (White(x) arrow Sad(x))/to/all x White(x) arrow all x Sad(x)'

  '/ex/create/orValid/from/exists x Tall(x) and exists x Happy(x)/to/exists x Tall(x) and exists y Happy(y)'

]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_710/slide-082.jpeg'})
  .notes 
  //- handout
  .handout \begin{minipage}{\columnwidth}
  .handout Underlining shows the scope of the quantifiers:
  .img.handout(data-src='img/scope_quantifiers.png')
  .handout \end{minipage}
  

+slide({bkg:'unit_710/slide-083.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-084.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-085.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-086.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-087.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-088.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-089.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-090.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-091.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-092.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-093.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-094.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-095.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-096.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-097.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-098.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-099.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-100.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-101.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-102.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-103.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-104.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-105.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-106.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-107.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-108.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-109.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-110.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-111.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-112.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-113.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-114.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-115.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-116.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-117.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-118.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-119.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-120.jpeg'})
  .notes 

+slide({bkg:'unit_710/slide-121.jpeg'})
  .notes 

