---cson
layout: 'deck_units' 
title: "Subproofs Are Tricky"
description: "Offers what appears to be a proof of an argument that is not logically valid in order to illustrate a restriction on the use of subproofs."
tags: ['proof']
depends: ['unit_220']
source: ['ph126 lecture 06']
duration: 5
sequence: 420
exNormal: [
  '/ex/proof/orInvalid/from/A or B/to/B or A'
  '/ex/proof/orInvalid/from/A or B/to/B and A'
  '/ex/TorF/qq/If an argument is valid it remains valid when you add a new sentence to the premises, regardless of what that new sentence is.|No valid argument may have a contradiction as its conclusion.|An invalid argument can be turned into a valid argument by replacing the conclusion with its negation'
]
exFast: [
  '/ex/TorF/qq/If an argument is valid it remains valid when you add a new sentence to the premises, regardless of what that new sentence is.|No valid argument may have a contradiction as its conclusion.|An invalid argument can be turned into a valid argument by replacing the conclusion with its negation'
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_224/slide-161.jpeg'})
  .notes 
  //- handout
  .handout What is wrong with the following apparent proof?
  .img.handout(data-src='img/unit_224_subproofs_tricky.png')

+slide({bkg:'unit_224/slide-167.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-168.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-169.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-170.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-171.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-172.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-173.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-174.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-175.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-176.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-177.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-178.jpeg'})
  .notes 

+slide({bkg:'unit_224/slide-179.jpeg'})
  .notes 

