---cson
layout: 'deck_units' 
title: "Subproofs Are Tricky: The Answer"
description: "Explains that in doing a proof, it is not allowed to cite lines from a closed subproof, thereby answering a question asked earlier."
tags: ['proof']
depends: ['unit_224']
source: ['ph126 lecture 07']
duration: 5
sequence: 490
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_227/slide-107.jpeg'})
  .notes 
  //- handout
  .img.handout(data-src='img/unit_227_tricky_answer.png')

+slide({bkg:'unit_227/slide-108.jpeg'})
  .notes 

+slide({bkg:'unit_227/slide-109.jpeg'})
  .notes 

+slide({bkg:'unit_227/slide-110.jpeg'})
  .notes 

+slide({bkg:'unit_227/slide-111.jpeg'})
  .notes 

+slide({bkg:'unit_227/slide-112.jpeg'})
  .notes 

+slide({bkg:'unit_227/slide-113.jpeg'})
  .notes 

+slide({bkg:'unit_227/slide-114.jpeg'})
  .notes 

+slide({bkg:'unit_227/slide-115.jpeg'})
  .notes 

