---cson
layout: 'deck_units' 
title: "What does ‘→’ mean?"
description: "Shows how to derive a truth table for → from the rules of proof for →, →Intro and →Elim."
tags: ['semantics'] 
depends: ['unit_390']
source: ['ph126 fastlecture 04', 'ph133 lecture 05']
duration: 7
book: ['7.1']
exercises: ['7.1--7.6','8.1 (yes/no answers are ok)']
exercises_fast: ['7.2','7.5','7.6']
sequence: 560
exNormal: [
  '/ex/tt/from/not A/to/A arrow B'
  '/ex/proof/from/not A/to/A arrow B'
  
  '/ex/tt/from/A arrow B|B/to/A'
  '/ex/tt/from/A arrow B|not B/to/not A'
  
  '/ex/tt/from/(A or C) arrow B|not B/to/not A'
  '/ex/tt/from/(A and C) arrow B|not B/to/not A'

  '/ex/tt/from/A arrow B/to/A arrow (B and C)'
  '/ex/tt/from/A arrow B/to/A arrow (B or C)'
    
  '/ex/proof/from/A or B|A arrow C/to/C or B'
]
exFast: [
  '/ex/tt/from/not A/to/A arrow B'
  '/ex/proof/from/not A/to/A arrow B'
  
  '/ex/tt/from/A arrow B|B/to/A'
  '/ex/tt/from/A arrow B|not B/to/not A'
  
  '/ex/tt/from/(A or C) arrow B|not B/to/not A'
  '/ex/tt/from/(A and C) arrow B|not B/to/not A'

  '/ex/tt/from/A arrow B/to/A arrow (B and C)'
  '/ex/tt/from/A arrow B/to/A arrow (B or C)'
    
  '/ex/proof/from/A or B|A arrow C/to/C or B'
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_700/slide-10-006.jpeg'})
  .notes 
  //- handout
  .handout Assuming that the rules of Fitch are such that it is impossible to prove an argument which is not logically valid, the truth table for → is fixed if we accept →Elim and →Intro. 
  .handout How do the rules of proof for → fix its truth table?
  .img.handout(data-src='img/unit_700_rule_to_tt.png')

+slide({bkg:'unit_700/slide-10-007.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-008.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-009.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-010.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-011.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-012.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-013.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-014.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-015.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-016.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-017.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-018.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-019.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-020.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-021.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-022.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-10-023.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-90-020.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-90-021.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-90-022.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-90-023.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-90-024.jpeg'})
  .notes 

+slide({bkg:'unit_700/slide-90-025.jpeg'})
  .notes 

