---cson
layout: 'deck_units' 
title: "The Storm Clouds on the Horizon Were Getting Nearly Directly Overhead"
description: "Illustrates and defines the terms 'tautology' and 'contradiction' with some quotes from George Bush."
tags: ['truth-tables'] 
depends: ['unit_160']
source: ['ph126 fastlecture 01']
sequence: 290
handout: false
exNormal: [
  '/ex/TorF/from/The storm clouds on the horizon were getting nearly directly overhead/to/those who enter the country illegally violate the law/qq/the argument is valid|the argument is sound'
  '/ex/TorF/qq/If there’s no possible situation in which the premises of an argument are all true, it must be logically valid|If there is no possible situation in which the conclusion of an argument is false, it must be logically valid'
  '/ex/TorF/qq/If there’s no possible situation in which the premises of an argument are all true, it cannot be logically valid|If there’s no possible situation in which the premises of an argument are all false, it must be logically valid|If there’s no possible situation in which the premises of an argument are all false, it cannot be logically valid'
]
exFast: [
  '/ex/TorF/from/The storm clouds on the horizon were getting nearly directly overhead/to/those who enter the country illegally violate the law/qq/the argument is valid|the argument is sound'
  '/ex/TorF/qq/If there’s no possible situation in which the premises of an argument are all true, it must be logically valid|If there’s no possible situation in which the premises of an argument are all true, it cannot be logically valid|If there is no possible situation in which the conclusion of an argument is false, it must be logically valid|If there is no possible situation in which the conclusion of an argument is false, it cannot be logically valid|If there’s no possible situation in which the premises of an argument are all false, it must be logically valid|If there’s no possible situation in which the premises of an argument are all false, it cannot be logically valid'
]
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_162/slide-166.jpeg'})
  .notes 

+slide({bkg:'unit_162/slide-167.jpeg'})
  .notes No because logic.

+slide({bkg:'unit_162/slide-168.jpeg'})
  .notes Yes because logic.

+slide({bkg:'unit_162/slide-169.jpeg'})
  .notes 

+slide({bkg:'unit_162/slide-170.jpeg'})
  .notes 

