---cson
layout: 'deck_units' 
title: "Contradictions, Logical Truths and Logical Validity"
description: "Continues exploring the use of truth-tables to establish whether sentences are contradictions or logical truths, and to demonstrate logical validity. Notes that logical validity is not what you think it is."
tags: ['truth-tables'] 
depends: ['unit_071','unit_09']
source: ['ph126 fastlecture 01']
sequence: 250
book: ['4.1', '4.2', '5.4']
exercises_fast: ['4.1, 4.2', '4.12--4.16']
exercises: ['4.1, 4.2']
exNormal: [
  '/ex/tt/qq/A or not A'
  '/ex/tt/qq/(A or B) or not A'
  
  '/ex/trans/domain/people/names/a=Ayesha|b=Beatrice/predicates/Frowning1|Sad1/sentence/Ayesha and Beatrice are both sad or Ayesha is frowning'
  '/ex/trans/domain/people/names/a=Ayesha|b=Beatrice/predicates/Frowning1|Sad1/sentence/Frowning(b) and (Sad(a) or Frowning(a))'
  
  '/ex/tt/qq/(A and B) or not A'
  '/ex/tt/qq/(A and B) and not A'
]
exFast: [
  '/ex/tt/qq/A or not A'
  '/ex/tt/qq/(A and B) and not A'
  '/ex/tt/qq/(A or not B) and not (A or not A)'
]
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_160/slide-142.jpeg'})
  .notes 
  //- handout
  .img.handout(data-src='img/unit_160_argument3.png')
  .img.handout(data-src='img/unit_160_argument3b.png')
  .img.handout(data-src='img/unit_160_argument4.png')
  .handout P $\lor{}$ ¬P is a \emph{logical truth}
  .handout logical truth defined p. 568
  .handout P $\land{}$ ¬P is a \emph{contradiction}
  .handout contradiction defined p. 564

+slide({bkg:'unit_160/slide-143.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-144.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-145.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-146.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-147.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-148.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-149.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-150.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-151.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-152.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-153.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-154.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-155.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-156.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-157.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-158.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-159.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-160.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-161.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-162.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-163.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-164.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-165.jpeg'})
  .notes 

+slide({bkg:'unit_160/slide-166.jpeg'})
  .notes Unlike say knowledge or truth, where it’s up to you to form a view of your own to a large extent, with logical validity there is a precise and clear definition that we are working with.  Of course there are still questions about the nature of logical validity, but to get to those questions you first have to accept its definition. 


