---cson
layout: 'deck_units' 
title: "Rules of Proof for Identity"
description: "Introduces and illustrates the rules of proof for identity, =Intro and =Elim."
tags: ['proof']
depends: ['unit_211']
source: ['ph133 lecture 03']
sequence: 210
book: ['2.2']
exNormal: [
  '/ex/proof/from/Happy(a)|a=b/to/Happy(b)'
  '/ex/proof/from/LeftOf(a,b)|b=c/to/LeftOf(a,c)'
  '/ex/proof/from/a=b|b=c/to/a=c'
  '/ex/trans/domain/people/names/a=Ayesha|b=Beatrice/predicates/Frowning1/sentence/a=b'
  '/ex/trans/domain/people/names/a=Ayesha|b=Beatrice/predicates/Frowning1/sentence/Ayesha isn’t Beatrice'
  '/ex/proof/from/LeftOf(a,b)|Happy(b)|a=b/to/LeftOf(b,a) and Happy(a)'
]
exFast: [
  '/ex/trans/domain/people/names/a=Ayesha|b=Beatrice/predicates/Frowning1/sentence/a=b'
  '/ex/trans/domain/people/names/a=Ayesha|b=Beatrice/predicates/Frowning1/sentence/Ayesha isn’t Beatrice'
  '/ex/proof/from/Happy(a)|a=b/to/Happy(b)'
  '/ex/proof/from/LeftOf(a,b)|Happy(b)|a=b/to/LeftOf(b,a) and Happy(a)'
]
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_110/slide-055.jpeg'})
  .notes Earlier I said to understand identity as logicians think about it, there are just two principles you need.
  .notes These principles correspond to the identity and elimitation rules for identity.
  .notes The first principle said that if b=c, then whatever is true of b is also true of c.
  //- handout
  .img.handout(data-src='img/rule_identity_intro.png')
  .img.handout(data-src='img/rule_identity_elim.png')
  .img.handout(data-src='img/proof_identity_example.png')

+slide({bkg:'unit_110/slide-056.jpeg'})
  .notes This principle is the rule =Elim.

+slide({bkg:'unit_110/slide-057.jpeg'})
  .notes Then there was another principle, a=a is never false; this is the rule of proof =Intro.

+slide({bkg:'unit_110/slide-058.jpeg'})
  .notes: :t()
    The first rule of proof is expressed just as you would expect: 
    there are things you have to have already in your proof, and if you have them then you can extend the proof by adding this to it.

+slide({bkg:'unit_110/slide-059.jpeg'})
  .notes: :t()
    But identity intro is a bit different.  In this case there are no pre-requisites.  
    You can use the rule regardless of what you have.  
    The rule says that any time you like you can add a sentence of this form, so a=a or b=b or whatever.

+slide({bkg:'unit_110/slide-060.jpeg'})
  .notes Let's see how these rules work with a simple proof.
  .notes (Everytime I show you new rules, I'll also show you an example of how they're used.)

+slide({bkg:'unit_110/slide-061.jpeg'})
  .notes First I need some line numbers, and maybe a bit of space.

+slide({bkg:'unit_110/slide-062.jpeg'})
  .notes To apply =Elim I need an identity statement; and that's just what I have at line 2.

+slide({bkg:'unit_110/slide-063.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-064.jpeg'})
  .notes To apply =Elim I also need a statement about the thing named on the left hand side of the identity statement, in this case b.

+slide({bkg:'unit_110/slide-065.jpeg'})
  .notes That's just what I have at line 1 of the proof.

+slide({bkg:'unit_110/slide-066.jpeg'})
  .notes 

+slide({bkg:'unit_110/slide-067.jpeg'})
  .notes So actually I have both of the things I need to apply =Elim.

+slide({bkg:'unit_110/slide-068.jpeg'})
  .notes But now look at the conclusion of this argument.

+slide({bkg:'unit_110/slide-069.jpeg'})
  .notes The conclusion is just what =Elim allows me to conclude.

+slide({bkg:'unit_110/slide-070.jpeg'})
  .notes Have I finished the proof?  Not yet.  I need to justify the step, which involves two things: I need to cite the rule and to cite the lines I've used in applying it.

+slide({bkg:'unit_110/slide-071.jpeg'})
  .notes Let's look at the same thing a different way.

+slide({bkg:'unit_110/slide-072.jpeg'})
  .notes The first premise is a statement about b (it says a is left of it) whereas the conclusion is the same statement about c (it says that a is left of it).

+slide({bkg:'unit_110/slide-073.jpeg'})
  .notes I take the b from the first premise and put it into the identity statement.

+slide({bkg:'unit_110/slide-074.jpeg'})
  .notes I move accross the identity statement from left to right and find c. And this c I put into the conclusion just where b was earlier.

+slide({bkg:'unit_110/slide-075.jpeg'})
  .notes And this is just the pattern I need to make to use =Elim.

+slide({bkg:'unit_110/slide-076.jpeg'})
  .notes One last thing ...

+slide({bkg:'unit_110/slide-077.jpeg'})
  .notes Look at this thing on your right.  It looks much like a proof.  But actually it's no more a proof than a toddler's scribble.  Why not?  (I'll return to this question later.)

