---cson
layout: 'deck_units'
title: "Multiple Quantifiers: Something Makes Someone Want to Die Inside"
description: "Introduces translation from English to awFOL using multiple existential quantifiers with an example."
tags: ['quantification','semantics','translation']
depends: ['']
source: ['ph126 lecture 10']
duration: 5
book: ['11.1']
exercises: []
exercises_fast: []
sequence: 650
handout: false
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_741/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-003.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-004.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-005.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-011.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-012.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-013.jpeg'})
  .notes 

+slide({bkg:'unit_741/slide-014.jpeg'})
  .notes 

