---cson
layout: 'deck_units' 
title: "Everything Is Broken"
description: "Quantifiers are for talking about things without naming them."
tags: ['quantification']
depends: ['']
source: ['ph126 lecture 06']
duration: 8
book: ['9.1','9.2']
exercises: ['9.1 odd numbers only', '9.2 even numbers only']
exercises_fast: ['9.8–-9.10']
exNormal: [
  '/ex/trans/domain/people/names/a=Ayesha/predicates/Happy1/sentence/Ayesha is happy'
  '/ex/trans/domain/people/names/-/predicates/Happy1/sentence/Someone is happy'
  '/ex/trans/domain/people/names/-/predicates/Happy1/sentence/Everyone is happy'
  '/ex/trans/domain/people/names/-/predicates/Broken1/sentence/exists x Broken(x)'
  '/ex/create/qq/exists x Happy(x)'
  '/ex/create/qq/all x Happy(x)'
  '/ex/create/qq/not all x Happy(x)'
  '/ex/create/qq/exists x Happy(x)|not all x Happy(x)'
  '/ex/trans/domain/people/names/-/predicates/Broken1/sentence/all x Broken(x)'
]
exFast: [
  '/ex/trans/domain/people/names/a=Ayesha/predicates/Happy1/sentence/Ayesha is happy'
  '/ex/trans/domain/people/names/-/predicates/Happy1/sentence/Someone is happy'
  '/ex/trans/domain/people/names/-/predicates/Happy1/sentence/all x Broken(x)'
  '/ex/create/qq/not all x Happy(x)'
  '/ex/create/qq/exists x Happy(x)|not all x Happy(x)'
  '/ex/create/qq/not all x Tall(x)|all x Happy(x)'
]

sequence: 360
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_471/slide-185.jpeg'})
  .notes 
  //- handout 
  .handout Everything is broken: ∀x Broken(x) 
  .handout Something is broken: ∃x Broken(x) 
  
  
+slide({bkg:'unit_471/slide-186.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-187.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-188.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-189.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-190.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-191.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-192.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-193.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-194.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-195.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-196.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-197.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-198.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-199.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-200.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-201.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-202.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-203.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-204.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-205.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-206.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-207.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-208.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-209.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-210.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-211.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-212.jpeg'})
  .notes 

+slide({bkg:'unit_471/slide-213.jpeg'})
  .notes 

