---cson
layout: 'deck_units' 
title: 'Why Logic?'
tags: ['definitions']
description: "Provides two reasons for studing logic, one abstract the other practical."
depends: []
sequence: 20
---

section.slide
  .notes: :t()
  .words
    p.middle.center why logic?


section.slide
  .notes: :t()
    Logic is a tool for precise expression.  In your future life you probably won't use
    logical symbols, but, if things go well, 
    the way you formulate ideas will be guided by your familiarity with
    logical structures.
  .notes: :t()
    Studying logic also enables you to identify and explain mistakes in reasoning.
  .words
    p.middle.center precise expression


section.slide
  .notes: :t()
    You might think that you don't need driving lessons and that you
    already know how to think.
    That's plausible, but you are probably going to be surrounded by people
    who regularly make logical mistakes.
  .notes: :t()
    It turns out that even simple logical mistakes are quite common.
    Here's a question from an experiment.  
    Which cards do you need to turn over to confirm the truth of this claim?
    I want you all to answer the question.
  .words
    .container_12: .grid_12
      p.handout.show ‘If a card has a vowel on one side, then it has an even number on the other side.’
      p.right.handout.show.ctd (Waison & Johnson-Laird 1972)
      .img.handout(data-src='img/waison_fig.png')
    .container_12: .grid_12
      p &nbsp;
    .slide
      .container_12
        .grid_2.prefix_2
          p.white-box.center.huge.step1 E
        .grid_2
          p.white-box.center.huge.step2 K
        .grid_2
          p.white-box.center.huge.step3 4
        .grid_2
          p.white-box.center.huge.step4 7
      // *notes ask them about each in turn
      .slide.anim-addclass(data-what=".step1",data-class="glow-border-red")
      // next card
      .slide.anim-removeclass.anim-continue(data-what=".step1",data-class="glow-border-red")
      .slide.anim-addclass(data-what=".step2",data-class="glow-border-red")
      // next card
      .slide.anim-removeclass.anim-continue(data-what=".step2",data-class="glow-border-red")
      .slide.anim-addclass(data-what=".step3",data-class="glow-border-red")
      // next card
      .slide.anim-removeclass.anim-continue(data-what=".step3",data-class="glow-border-red")
      .slide.anim-addclass(data-what=".step4",data-class="glow-border-red")
      .notes Well, what's the answer?
      .slide.anim-removeclass(data-what=".step4",data-class="glow-border-red")
      .notes The solution is: you need to turn over E and 7
      .slide.anim-addclass.anim-continue(data-what=".step1",data-class="glow-border-red")
      .slide.anim-addclass(data-what=".step4",data-class="glow-border-red")

section.slide
  .words
    p.middle.center ‘Philosophy is thinking in slow motion.’ (John Campbell)
    img(src="/img/people/campbell_john_bw.jpg",width="150px",style="position:relative;top:300px;").float-right



section.slide#limits_of_the_world
  .notes: :t()
    This course is about logical validity; there is also a sister notion, logical truth.
    To say that a sentence is logically true is to say that there's no possible situation in which it is false.
    (This is slightly different from the definition given in the textbook, but it's equivalent in that the two definitions pick out the same sentences.)
  .notes: :t()
    In exploring the notions of logical validity and logic truth, we are exploring the limits of 
    the world.  One reason for studying logic is just that you are curious about what is 
    possible.
  .words: .container_12: .grid_12
    img(src="/img/people/wittgenstein.jpg",width="150px").float-right
    p.handout.show ‘Logic pervades the world: the limits of the world are also its limits.’
      // So we cannot say in logic, "The world has this in it, and this, but not that""
    p.handout.ctd.show.right (Wittgenstein, 
      em Tractatus 
      | 5.61)
    .clear: .grid_12
    .slide
      .notes On his album game theory, Black Thought (Tariq Trotter) mentions people of whom it is said that they
      img(src="/img/people/trotter.jpg",width="150px").float-right
      p.notes.show ‘don’t obey no laws, not even gravity’
      p.right (Tariq Trotter, 
        em Game Theory
        span  track 10)
      .notes: :t()
        (The context: 
        ‘I couldn't tell you why I think they constantly after me
        Maybe it's cause the news put it to me so graphically
        How niggaz don't obey no laws, not even gravity boy’)
      .notes: :t()
        Why study logic?  It is easy to escape supply and demand--that law applies only to 
        rational agents,
        and we are none of us entirely rational.
        It is slightly harder to escape gravity, which was 
        thought to apply to all physical things although Tariq Trotter claims to have done it 
        on Game Theory (Livin’ in a New World).
        The laws of logic are fundamental in the sense that 
        absolutely everything is subject to them, even musicians.  
      .notes: :t()
        After I heard Game Theory I 
        tried to get the philosophy department to put Tariq forward for an honourary doctorate 
        so that he could call himself *DR* Black Thought but in the end they gave it to 
        Professor Peacocke instead.

//-
//- section.slide
//-   .words
//-     .container_12
//-       .grid_8.prefix_2
//-         p 2013-05-30
//-         p RE: Love and Logics
//-         p Dear Professor,
//-         p Hope you're well. My name is [name removed], a former student.
//-         p I just wanted to say thank you for your wonderful lectures on logics. I didn't know logics was so useful that it helped me to find a really nice girlfriend and enables me to win arguments all the time!
//-         p Thanks again. Haha.
//-         p [name]
//-