---cson
layout: 'deck_units' 
title: "=Elim Again"
description: "Returns to the discussion of what it is for a system of proof to be formal and explains how to do awkward proofs involving identity."
tags: ['proof']
depends: ['unit_11']
source: ['new']
duration: 3
sequence: 278
handout: false
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_112/slide-000.jpeg'})
  .notes 

+slide({bkg:'unit_112/slide-001.jpeg'})
  .notes 

+slide({bkg:'unit_112/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_112/slide-003.jpeg'})
  .notes 

+slide({bkg:'unit_112/slide-004.jpeg'})
  .notes 

+slide({bkg:'unit_112/slide-005.jpeg'})
  .notes 

+slide({bkg:'unit_112/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_112/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_112/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_112/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_112/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_112/slide-011.jpeg'})
  .notes 

