---cson
layout: 'deck_units' 
title: "Sentence Letters"
description: "Explains what sentence letters are and why we use them."
tags: ['definitions']
depends: []
source: ['ph126 fastlecture 01']
sequence: 100
---

include ../../../fragments/unit_mixins


+slide({bkg:'unit_012/slide-055.jpeg'})
  //- handout
  .img.handout(data-src='img/sentence_letters.png')

  .notes Recall this argument about Ayesha and John.

+slide({bkg:'unit_012/slide-056.jpeg'})
  .notes The sentence 'Square(b)' occurs twice, once as part of the first premise, and once as the conclusion.

+slide({bkg:'unit_012/slide-057.jpeg'})
  .notes The sentence 'Square(a)' also occurs twice, once as part of the first premise, and once in the second premise.
  .notes And there are no other sentences in this argument.
  .notes So we can represent this form of argument in a much more general way ...

+slide({bkg:'unit_012/slide-058.jpeg'})
  .notes ... by using letters to stand for sentences instead of names and predicates.
  .notes Why is this more abstract representation useful?
  .notes: :t()
    We don't want to consider arguments one-by-one.  We want to be able to
    say things about a large number of arguments.  The use of sentence letters lets us talk abou a much larger class
    of arguments, all of which are valid in virtue of having this form.

+slide({bkg:'unit_012/slide-059.jpeg'})
  .notes But how far can we go with sentence letters?

+slide({bkg:'unit_012/slide-060.jpeg'})
  .notes: :t()
    Consider this argument.  There are three atomic sentences.

+slide({bkg:'unit_012/slide-061.jpeg'})
  .notes So if we wanted to represent it using sentence letters only, we'd have to have three different sentence letters.
  .notes: :t()
     But now we have lost what is interesting about this form of argument.
     After all, any argument with two premises and a conclusion has the form P, Q therefore R.  
     There's nothing interesting we can say about all arguments with *this* form.
     So where an argument exploits identity, we can't capture what's logically interesting about its form using sentence letters.

+slide({bkg:'unit_012/slide-062.jpeg'})
  .notes The same is true where an argument exploits quantifiers ... this is something we'll get to later in the course.

+slide({bkg:'unit_012/slide-063.jpeg'})
  .notes 

