---cson
layout: 'deck_units'
title: "∀Elim"
description: "Explains the rule of proof ∀Elim with an example."
tags: ['quantification','proof']
depends: ['']
source: ['ph126 lecture 07']
duration: 5
book: ['13.1']
exercises: []
exercises_fast: []
sequence: 540
exNormal: [
  '/ex/proof/from/all x Red(x)/to/Red(a)'
  '/ex/proof/from/all x (Tall(x) arrow Happy(x))|Tall(a)/to/Happy(a)'
  '/ex/proof/from/all x (Tall(x) arrow Happy(x))|all x (Happy(x) arrow Broken(x))|Tall(a)/to/Broken(a)'
  '/ex/proof/from/all x a=x|Red(a)/to/Red(b)'
]
exFast: [
  '/ex/proof/from/all x Red(x)/to/Red(a)'
  '/ex/proof/from/all x a=x|Red(a)/to/Red(b)'
]
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_800/slide-141.jpeg'})
  .notes: :t
    In the words of the other great Bob, ‘Everything’s coming to a grinding halt’
  .handout.img(data-src='img/rule_universal_elim.png')
  

+slide({bkg:'unit_800/slide-142.jpeg'})
    
+slide({bkg:'unit_800/slide-143.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-144.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-145.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-146.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-147.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-148.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-149.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-150.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-151.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-152.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-153.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-154.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-155.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-156.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-157.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-158.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-159.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-160.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-161.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-162.jpeg'})
  .notes 

+slide({bkg:'unit_800/slide-163.jpeg'})
  .notes: :t
    And only is the argument valid: the conclusion is true.
