---cson
layout: 'deck_units' 
title: "Summary of Quantifier Rules"
description: "Quick recap of the four main quantifier rules."
tags: ['proof'] 
depends: ['unit_550','unit_570']
source: ['ph126 fastlecture 06']
duration: 3
book: ['13.1','13.2']
exercises: []
exercises_fast: ['10.20', '*10.24--10.7', '10.28--10.29', '13.2--13.3, 13.8--13.9', '13.11, 13.13, 13.15']
sequence: 930
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_575/slide-138.jpeg'})
  .notes
  //- handout
  .handout.img(data-src='img/quantifier_rule_summary.png')

+slide({bkg:'unit_575/slide-139.jpeg'})
  .notes 

+slide({bkg:'unit_575/slide-140.jpeg'})
  .notes 

+slide({bkg:'unit_575/slide-141.jpeg'})
  .notes 

+slide({bkg:'unit_575/slide-142.jpeg'})
  .notes 

