---cson
layout: 'deck_units' 
images: 'unit_161'
title: "Logic Makes Me Die Inside"
description: "Is the definition of logical validity flawed?"
tags: ['definition'] 
depends: ['unit_03']
source: ['ph126 lecture 03']
duration: 3
sequence: 240
book:['2.1']
exNormal: [
  '/ex/TorF/from/The planet is approximately round/to/I am a biscuit/qq/The argument is logically valid'
  '/ex/TorF/from/not a=a/to/B/qq/The argument is logically valid|There is a possible situation in which the premises are true|There is a possible situation in which the argument is sound'
  '/ex/TorF/from/A and not A/to/B and not B/qq/The argument is logically valid'
  '/ex/tt/from/A and not A/to/B'
  '/ex/tt/from/B/to/A or not A'
]
exFast: [
  '/ex/TorF/from/The planet is approximately round/to/I am a biscuit/qq/The argument is logically valid'
  '/ex/TorF/from/not a=a/to/B/qq/The argument is logically valid|There is a possible situation in which the premises are true|There is a possible situation in which the argument is sound'
  '/ex/tt/from/A and not A/to/B'
  '/ex/tt/from/B/to/A or not A'
  '/ex/tt/from/A and not A/to/B and not B'
]
---


include ../../../fragments/unit_mixins
include ../../../fragments/logic_mixins

+slide({bkg:'unit_161/slide-049.jpeg'})
  .notes: :t()
    Can I logically valid argument have true premises and a false conclusion?
    Let me put this another way ...
  .notes: :t()
    Do you use facebook?  I’m not on it.  I already have a friend, so it didn't seem necessary.
  .notes: :t()
    But I was very proud to learn (from a TA) that one year some of my students set up a facebook group for logic.
    How cool is that?  You love logic so much that you have a facebook group to celebrate.
    I'm like the Burial of logic lecturers ...

+slide({bkg:'unit_161/slide-050.jpeg'})
  .notes: :t()
    Or not.
    But let's have a closer look at the argument.
    

+slide({bkg:'unit_161/slide-051.jpeg'})
  .notes One premise, one conclusion.

+slide({bkg:'unit_161/slide-052.jpeg'})
  .notes The funny thing about this argument is not just that there's a counterexample to it, ...

+slide({bkg:'unit_161/slide-053.jpeg'})
  .notes ... but that the actual world is a counterexample to it.
  .notes So if you think about it, the facebook group was actually for people who love logic after all.
  .notes Earlier I asked, Can a logically valid argument have true premises and a false conclusion?
  .notes Please think about this question before writing about logic.

section.slide
  .words: .container_12
    .grid_6
      .notes: :t()
        So what was logic making me die inside really about?  
        I think it was probably intended to be a response to the logical validity of two arguments, this one ...
      mixin fitch_proof({premises:[['P ∧ ¬P']], lines:[['Q']], no_line_numbers:true})
    .slide.grid_6
      .notes ... and this one.
      .notes If you are really good, you'll be able to prove both arguments by the end of the course.
      .notes In fact, you could prove the argument on your left by the end of today.
      .notes In fact, let's see how to do that right away (in unit 270).
      mixin fitch_proof({premises:[['Q']], lines:[['P ∨ ¬P']], no_line_numbers:true})
