---cson
layout: 'deck_units' 
title: "Complex Truth Tables"
description: "Illustrates how to construct complex truth tables with an example, not(P and Q)."
tags: ['truth-tables'] 
depends: ['unit_071']
source: ['ph126 lecture 02']
sequence: 170
exNormal: [
  '/ex/tt/noQ/qq/not (A and B)'
  '/ex/tt/noQ/qq/A and (B or C)'
]
exFast: [
  '/ex/tt/qq/A and not B'
  '/ex/tt/qq/A and not (B or C)'
]
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_60/slide-111.jpeg'})
  .notes 
  //- handout
  .img.handout(data-src='img/unit_60_tt.png')


+slide({bkg:'unit_60/slide-112.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-113.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-114.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-115.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-116.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-117.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-118.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-119.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-120.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-121.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-122.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-123.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-124.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-125.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-126.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-127.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-128.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-129.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-130.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-131.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-132.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-133.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-134.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-135.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-136.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-137.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-138.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-139.jpeg'})
  .notes 

//-
  +slide({bkg:'unit_60/slide-140.jpeg'})
    .notes 

+slide({bkg:'unit_60/slide-141.jpeg'})
  .notes 

+slide({bkg:'unit_60/slide-142.jpeg'})
  .notes 

