---cson
layout: 'deck_units' 
title: "¬Intro Proof Example"
description: "Discusses an intermediate proof involving ¬Intro, from premises P→Q and ¬Q to conclusion ¬P."
tags: ['proof','proof-example']
depends: ['unit_281']
source: ['ph126 lecture 07']
duration: 4
sequence: 470
book: ['5.3','6.3']
exercises: ['6.24--6.26']
exNormal: [
  '/ex/proof/from/A→B|¬B/to/¬A'
  '/ex/proof/from/¬A or ¬B/to/¬(A and B)'
  '/ex/proof/from/A|¬B/to/¬(A→B)'
  '/ex/proof/from/A/to/¬(A→¬A)'
]
exFast: [
  '/ex/proof/from/A→B|¬B/to/¬A'
  '/ex/proof/from/¬A or ¬B/to/¬(A and B)'
  '/ex/proof/from/-/to/¬((A→A)→¬(A→A))'
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_283/slide-060a.jpeg'})
  .notes 
  //- handout
  .img.handout(data-src='img/unit_283_proof.png')


+slide({bkg:'unit_283/slide-060b.jpeg'})
+slide({bkg:'unit_283/slide-060c.jpeg'})
+slide({bkg:'unit_283/slide-060d.jpeg'})
//- no 060e
+slide({bkg:'unit_283/slide-060f.jpeg'})

+slide({bkg:'unit_283/slide-061.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-062.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-063.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-064.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-065.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-066.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-067.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-068.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-069.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-070.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-071.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-072.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-073.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-074.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-075.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-076.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-077.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-078.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-079.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-080.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-081.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-082.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-083.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-084.jpeg'})
  .notes 

+slide({bkg:'unit_283/slide-085.jpeg'})
  .notes 

