---cson
layout: 'deck_units' 
images: 'unit_226'
title: "∨Elim and Soundness"
description: "Introduces the rule of proof ∨Elim and links it to the truth table for ∨."
tags: ['proof']
depends: ['']
source: ['ph126 lecture 05']
duration: 5
sequence: 350
book: ['5.2','6.2']
exNormal: [
  '/ex/tt/from/A or B/to/B',
  '/ex/tt/from/A or B|A arrow C|B arrow C/to/C'
]
exFast: [
  '/ex/tt/from/A or B|A arrow C/to/(not B) arrow C'
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_226/slide-111.jpeg'})
  .notes 

+slide({bkg:'unit_226/slide-114.jpeg'})
  .notes 

+slide({bkg:'unit_226/slide-115.jpeg'})
  .notes 

+slide({bkg:'unit_226/slide-116.jpeg'})
  .notes 

+slide({bkg:'unit_226/slide-117.jpeg'})
  .notes 

+slide({bkg:'unit_226/slide-118.jpeg'})
  .notes 

+slide({bkg:'unit_226/slide-119.jpeg'})
  .notes 

+slide({bkg:'unit_226/slide-120.jpeg'})
  .notes 

+slide({bkg:'unit_226/slide-121.jpeg'})
  .notes 

+slide({bkg:'unit_226/slide-122.jpeg'})
  .notes 

+slide({bkg:'unit_226/slide-123.jpeg'})
  .notes 

+slide({bkg:'unit_226/slide-124.jpeg'})
  .notes 

+slide_middle
  p The rules of proof are formal stipulations.
  p.em-above -- but --
  p.em-above Some stipulations allow us to ensure we can only prove logically valid arguments.

