---cson
layout: 'deck_units'
title: "Variables"
description: "Explains the role of variables in the formal language awFOL.  Stresses that translations into English should not mention variables (e.g. 'there is an x such that ...' does *not* count as English for the purposes of this course)."
tags: ['translation','syntax'] 
depends: []
source: ['ph126 fastlecture 06']
sequence: 1000
exNormal : [
  '/ex/TorF/qq/‘Some x is a horse and x is dead’ is a correct English translation of ∃x(Horse(x) ∧ Dead(x))'
  '/ex/TorF/qq/‘A horse is dead’ is a correct English translation of ∃x(Horse(x) ∧ Dead(x))'
  '/ex/TorF/qq/‘All x’s are dead’ is a correct English translation of ∀x Dead(x)'
  '/ex/TorF/qq/‘Everything is dead’ is a correct English translation of ∀x Dead(x)'
]
exFast : [
  '/ex/TorF/qq/‘Some x is a horse and x is dead’ is a correct English translation of ∃x(Horse(x) ∧ Dead(x))'
  '/ex/TorF/qq/‘A horse is dead’ is a correct English translation of ∃x(Horse(x) ∧ Dead(x))'
  '/ex/TorF/qq/‘All x’s are dead’ is a correct English translation of ∀x Dead(x)'
  '/ex/TorF/qq/‘Everything is dead’ is a correct English translation of ∀x Dead(x)'
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_600/slide-059.jpeg'})
  .notes 
  .handout Names : a, b, c, … 
  .handout Variables : x, y, z, w, … 
  .handout Variables are for saying several things about one thing even without specifying which thing it is 
  .handout NB: `Some x is a horse and x is dead' ain't English.

+slide({bkg:'unit_600/slide-060.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-061.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-062.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-063.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-064.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-065.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-066.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-067.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-068.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-069.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-070.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-071.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-072.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-073.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-074.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-075.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-076.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-077.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-078.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-079.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-080.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-081.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-082.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-083.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-084.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-085.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-086.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-087.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-088.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-089.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-090.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-091.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-092.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-093.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-094.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-095.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-096.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-097.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-098.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-099.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-100.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-101.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-102.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-103.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-104.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-105.jpeg'})
  .notes 

+slide({bkg:'unit_600/slide-106.jpeg'})
  .notes 

