---cson
layout: 'deck_units'
title: "Loving and Being Loved"
description: "Discusses translating English sentences about loving and being loved in order to illuminate the difference between ∃y∀x Loves(x,y) and ∃y∀x Loves(y,x)."
tags: ['quantifiers','translation']
depends: ['560']
source: ['ph126 lecture 15']
duration: 5
book: ['11.2', '11.3']
exercises: []
exercises_fast: []
sequence: 1010
exNormal : [
  '/ex/proof/orInvalid/from/exists x exists y Loves(x,y)/to/exists y exists x Loves(x,y)'
  '/ex/counter/orValid/from/exists x exists y Loves(x,y)/to/exists y exists x Loves(x,y)'
  '/ex/proof/orInvalid/from/exists x all y Loves(x,y)/to/all y exists x Loves(x,y)'
  '/ex/counter/orValid/from/exists x all y Loves(x,y)/to/all y exists x Loves(x,y)'    
]
exFast : [
  '/ex/proof/orInvalid/from/exists x exists y Loves(x,y)/to/exists y exists x Loves(x,y)'
  '/ex/counter/orValid/from/exists x exists y Loves(x,y)/to/exists y exists x Loves(x,y)'
  '/ex/proof/orInvalid/from/exists x all y Loves(x,y)/to/all y exists x Loves(x,y)'
  '/ex/counter/orValid/from/exists x all y Loves(x,y)/to/all y exists x Loves(x,y)'    
]
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_755/slide-001.jpeg'})
  .notes 
  .handout.img(data-src='img/unit_755_loved.png')

+slide({bkg:'unit_755/slide-002.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-003.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-004.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-005.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-006.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-007.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-008.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-009.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-010.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-011.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-012.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-013.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-014.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-015.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-016.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-017.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-018.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-019.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-020.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-021.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-022.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-023.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-024.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-025.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-026.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-027.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-028.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-029.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-030.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-031.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-032.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-033.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-034.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-035.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-036.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-037.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-038.jpeg'})
  .notes 

+slide({bkg:'unit_755/slide-039.jpeg'})
  .notes 

