---cson
layout: 'deck_units'
title: "universal:arrow, existential:conjunction"
description: "Reminder that the universal quanifier works with the arrow, whereas the existential quantifier works with conjunction."
tags: ['quantification', 'revision']
depends: ['unit_501']
source: ['ph126 lecture 08', 'ph133 lecture 05']
duration: 5
book: []
exercises: []
exercises_fast: []
sequence: 450
handout: false
---



include ../../../fragments/unit_mixins

+slide({bkg:'unit_506/slide-121.jpeg'})
  .notes 

+slide({bkg:'unit_506/slide-122.jpeg'})
  .notes 

