---cson
layout: 'deck_units' 
title: "Does ‘if’ mean what ‘→’ means?"
description: "Argues that ‘if’ must mean what ‘→’ means, and that it cannot."
tags: ['semantics','quirk'] 
depends: ['unit_700']
source: ['ph126 lecture 09']
duration: 10
book: ['7.3']
exercises: []
exercises_fast: []
sequence: 880
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_640/slide-114.jpeg'})
  .notes 
  //- handout
  .handout \begin{minipage}{\columnwidth}
  .handout These two arguments are valid: does that mean that `if' means what `→' means?
  .handout.img(data-src='img/if_is_arrow.png')
  .handout \end{minipage}

  .handout \begin{minipage}{\columnwidth}
  .handout The English argument isn't valid; the awFOL argument is valid; therefore `if' can't mean what `→' means?
  .handout.img(data-src='img/if_aint_arrow.png')
  .handout \end{minipage}


+slide({bkg:'unit_640/slide-115.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-116.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-117.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-118.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-119a.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-119b.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-120.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-121.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-122.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-123.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-124.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-125.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-126.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-127.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-128.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-129.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-130.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-131.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-132.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-133.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-134.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-135.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-136.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-137.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-138.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-139.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-140.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-141.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-142.jpeg'})
  .notes 

+slide({bkg:'unit_640/slide-143.jpeg'})
  .notes 

