---cson
layout: 'deck_units' 
images: 'unit_135'
title: "Formalizing Arguments"
description: "Illustrates how for formalise simple arguments with the 'pigs' illustration."
tags: ['translation'] 
depends: ['unit_01','unit_02']
source: ['ph126 lecture 02']
sequence: 140
book: [3.7]
handout: false
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_135/slide-051.jpeg'})
  .notes: :t()
    Over the vacation you and I were labouring on a farm and at one point we were herding the pigs.
    Just as we almost had them secure, one of them ran off up the lane.
    We closed the gate on the others and ran off behind it.
    After a short sprint we came to a fork in the road.
    I said, not very insightfully, either it went up the left fork or the right fork.
    You said, It didnt' go up the left fork.
    So we concluded that it went up the right fork and ran off after it.
    Our exchange is an argument in the sense that we're interested in.
    It has two premises and a conclusion.

+slide({bkg:'unit_135/slide-052.jpeg'})
  .notes How can we formalise this argument?
  .notes We could introduce a name for the pig and predictates for its actions.
  .notes But we don't need to introduce names and predictates.
  .notes In the case of this argument, we can formalise it just using letters for sentences.

+slide({bkg:'unit_135/slide-053.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-054.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-055.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-056.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-057.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-058.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-059.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-060.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-061.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-062.jpeg'})
  .notes 

+slide({bkg:'unit_135/slide-063.jpeg'})
  .notes 

