---cson
layout: 'deck_units' 
title: "∃Elim"
description: "Introduces the rule of proof ∃Elim with an example.  The example proof is from premise ∃x( Blue(x) ∧ Square(x) ) to conclusion ∃x Blue(x)."
tags: ['proof'] 
depends: ['']
source: ['ph126 fastlecture 05']
duration: 6
book: ['12.2','13.2']
exercises: []
exercises_fast: []
sequence: 620
exNormal: [
  '/ex/proof/from/∃x( Blue(x) ∧ Tall(x) )/to/∃x Blue(x)'
  '/ex/proof/from/all x ( Blue(x) arrow Tall(x) )|∃x Blue(x)/to/∃x Tall(x)'
  '/ex/proof/from/all x not Blue(x)/to/not exists x Blue(x)'
  '/ex/proof/from/all x ( Scary(x) or Funny(x) )|∃x not Scary(x)/to/∃x Funny(x)'
]
exFast: [
  '/ex/proof/from/∃x( Blue(x) ∧ Tall(x) )/to/∃x Blue(x)'
  '/ex/proof/from/all x ( Blue(x) arrow Tall(x) )|∃x Blue(x)/to/∃x Tall(x)'
  '/ex/proof/from/all x not Blue(x)/to/not exists x Blue(x)'
  '/ex/proof/from/all x ( Scary(x) or Funny(x) )|∃x not Scary(x)/to/∃x Funny(x)'
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_550/slide-085.jpeg'})
  .notes 
  .handout.img(data-src='img/rule_existential_elim.png')
  .handout.img(data-src='img/proof_existential_elim.png')
  .handout \begin{minipage}{\columnwidth}
  .handout Note this restriction on the use of ∃Elim:
  .handout.img(data-src='img/proof_existential_elim_incorrect.png')
  .handout \end{minipage}

+slide({bkg:'unit_550/slide-086.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-087.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-088.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-089.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-090.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-091.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-092.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-093.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-094.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-095.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-096.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-097.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-098.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-099.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-100.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-101.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-102.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-103.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-104.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-105.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-106.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-107.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-108.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-109.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-110.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-111.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-112.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-113.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-114.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-115.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-116.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-117.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-118.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-119.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-120.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-121.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-122.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-123.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-124.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-125.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-126.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-127.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-128.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-129.jpeg'})
  .notes 

+slide({bkg:'unit_550/slide-130.jpeg'})
  .notes 

