---cson
layout: 'deck_units' 
title: "Vegetarians Are Evil"
description: "Practices translating an English argument involving quantifers into awFOL."
tags: ['quantification']
depends: ['unit_501']
source: ['ph126 lecture 08']
duration: 5
book: ['9.2','9.3','9.5']
exercises: []
exercises_fast: []
sequence: 460
exNormal:[
  '/ex/create/qq/Happy(a)|Sad(b)|all x (Sad(x) arrow Above(x,a))'
  '/ex/trans/domain/Ayesha|Beatrice|Caitlyn|Daisuke|Eugine/names/-/predicates/Sad1|Crying1/sentence/all x (Sad(x) arrow Crying(x))'
  '/ex/trans/domain/Ayesha|Beatrice|Caitlyn|Daisuke|Eugine/names/-/predicates/Happy1|Crying1/sentence/all x (Happy(x) arrow not Crying(x))'
  '/ex/trans/domain/Ayesha|Beatrice|Caitlyn|Daisuke|Eugine/names/-/predicates/Happy1|Vegetarian1/sentence/Everything happy is vegetarian'
  '/ex/trans/domain/Ayesha|Beatrice|Caitlyn|Daisuke|Eugine/names/-/predicates/Psychadelic1|Vegetarian1/sentence/Everything vegetarian is psychadelic'
  
  '/ex/create/qq/Sad(a)|Tall(a)|Happy(b)|Sad(c)|not a=c|all x ((Sad(x) and Tall(x)) arrow Above(x,b))'
  '/ex/create/qq/Sad(a)|Tall(a)|Happy(b)|Sad(c)|not a=c|all x (Sad(x) arrow (Above(x,b) and Tall(x)))'
  '/ex/trans/domain/Ayesha|Beatrice|Caitlyn|Daisuke|Eugine/names/a=Ayesha/predicates/Psychadelic1|Vegetarian1|Loves2/sentence/All psychadelic vegetarians love Ayesha'
  
  '/ex/create/qq/exists x Tall(x)|exists x Sad(x)|exists x Crying(x)|all x (Tall(x) arrow Sad(x))|all x (Sad(x) arrow Crying(x))|not all x (Crying(x) arrow Tall(x))'
  '/ex/create/from/all x (Tall(x) arrow Sad(x))|all x (Sad(x) arrow Crying(x))/to/all x (Crying(x) arrow Tall(x))'
]
exFast:[
  '/ex/create/qq/Happy(a)|Sad(b)|all x (Sad(x) arrow Above(x,a))'
  '/ex/trans/domain/Ayesha|Beatrice|Caitlyn|Daisuke|Eugine/names/-/predicates/Sad1|Crying1/sentence/all x (Sad(x) arrow Crying(x))'
  '/ex/trans/domain/Ayesha|Beatrice|Caitlyn|Daisuke|Eugine/names/-/predicates/Happy1|Crying1/sentence/all x (Happy(x) arrow not Crying(x))'
  '/ex/trans/domain/Ayesha|Beatrice|Caitlyn|Daisuke|Eugine/names/-/predicates/Happy1|Vegetarian1/sentence/Everything happy is vegetarian'
  '/ex/trans/domain/Ayesha|Beatrice|Caitlyn|Daisuke|Eugine/names/-/predicates/Psychadelic1|Vegetarian1/sentence/Everything vegetarian is psychadelic'
  
  '/ex/create/qq/Sad(a)|Tall(a)|Happy(b)|Sad(c)|not a=c|all x ((Sad(x) and Tall(x)) arrow Above(x,b))'
  '/ex/create/qq/Sad(a)|Tall(a)|Happy(b)|Sad(c)|not a=c|all x (Sad(x) arrow (Above(x,b) and Tall(x)))'
  '/ex/trans/domain/Ayesha|Beatrice|Caitlyn|Daisuke|Eugine/names/a=Ayesha/predicates/Psychadelic1|Vegetarian1|Loves2/sentence/All psychadelic vegetarians love Ayesha'
  
  '/ex/create/qq/exists x Tall(x)|exists x Sad(x)|exists x Crying(x)|all x (Tall(x) arrow Sad(x))|all x (Sad(x) arrow Crying(x))|not all x (Crying(x) arrow Tall(x))'
  '/ex/create/from/all x (Tall(x) arrow Sad(x))|all x (Sad(x) arrow Crying(x))/to/all x (Crying(x) arrow Tall(x))'
]
---



include ../../../fragments/unit_mixins

//- +slide({bkg:'unit_502/slide-031.jpeg'})
//-   .notes
//-   .handout.img(data-src='img/vegetarians.png')

//- removed for Walt
//- +slide({bkg:'unit_502/slide-032.jpeg'})
//-   .notes Here’s an argument suggested by a student ...
    
//- +slide({bkg:'unit_502/slide-033.jpeg'})
//-   .notes

+slide({bkg:'unit_502/slide-034.jpeg'})
  .notes Here’s an argument suggested by a student ...

+slide({bkg:'unit_502/slide-035.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-036.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-037.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-038.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-039.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-040.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-041.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-042.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-043.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-044.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-045.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-046.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-047.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-048.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-049.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-050.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-051.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-052.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-053.jpeg'})
  .notes 

+slide({bkg:'unit_502/slide-054.jpeg'})
  .notes 

