---cson
layout: 'deck_units' 
title: '∀Intro'
description: 'Introduces the rule of proof ∀Intro with an example.  The example proof is from premise ∀x(Square(x) → Blue(x)) to conclusion ∀x Square(x) → ∀x Blue(x).'
tags: ['proof','proof-example'] 
depends: ['550', '503', '504']
source: ['ph126 fastlecture 06', 'ph126 lecture 12']
duration: 6
book: ['12.1','12.3','13.1']
exercises: ['12.4--12.5', '*12.6--12.7', '12.9--12.10']
exercises_fast: []
sequence: 690
exNormal: [
  '/ex/proof/from/∀x(Frowning(x) and Crying(x))/to/∀x Crying(x)'
  '/ex/proof/from/∀x(Square(x) → Blue(x))/to/∀x Square(x) → ∀x Blue(x)'
  '/ex/proof/from/∀x(Sad(x) → Tall(x))|∀x(Tall(x) → Blue(x))/to/∀x (Sad(x) → Blue(x))'
  '/ex/proof/from/∀x(Sad(x) → Tall(x))|∀x(Sad(x) → not Tall(x))/to/∀x not Sad(x)'
  '/ex/proof/from/not exists x (Happy(x) and not Blue(x))/to/∀x Happy(x) → ∀x Blue(x)'
]
exFast: [
  '/ex/proof/from/∀x(Square(x) → Blue(x))/to/∀x Square(x) → ∀x Blue(x)'
  '/ex/proof/from/∀x(Sad(x) → Tall(x))|∀x(Tall(x) → Blue(x))/to/∀x (Sad(x) → Blue(x))'
  '/ex/proof/from/∀x(Sad(x) → Tall(x))|∀x(Sad(x) → not Tall(x))/to/∀x not Sad(x)'
  '/ex/proof/orInvalid/from/exists x (Happy(x) and Tall(x))/to/∀x (Happy(x) or Tall(x))'
  '/ex/create/orValid/from/exists x (Happy(x) and Tall(x))/to/∀x (Happy(x) or Tall(x))'
  '/ex/proof/orInvalid/from/not exists x (Happy(x) and not Blue(x))/to/∀x Happy(x) → ∀x Blue(x)'
  '/ex/create/orValid/from/not exists x (Happy(x) and not Blue(x))/to/∀x Happy(x) → ∀x Blue(x)'
]
---


include ../../../fragments/unit_mixins

+slide({bkg:'unit_570/slide-109.jpeg'})
  .notes 
  //- handout
  .handout.img(data-src='img/rule_universal_intro.png')
  .handout.img(data-src='img/proof_universal_intro.png')
  .handout \begin{minipage}{\columnwidth}
  .handout Why is this proof incorrect?
  .handout.img(data-src='img/proof_universal_intro_incorrect.png')
  .handout \end{minipage}
  
  

+slide({bkg:'unit_570/slide-110.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-111.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-112.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-113.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-114.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-115.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-116.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-117.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-118.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-119.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-120.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-121.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-122.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-123.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-124.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-125.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-126.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-127.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-128.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-129.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-130.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-131.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-132.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-133.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-134.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-135.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-136.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-137.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-138.jpeg'})
  .notes 

+slide({bkg:'unit_570/slide-139.jpeg'})
  .notes 

